*{
	margin: 20;
	padding: 20;
}
#contenedor{
    position: fixed;
    top: 3em;
    left: 75%;
	width: 540px;
	height: 115px;
}

.reloj{
	background: rgba(200,200,200,0.8);
	float: left;
	font-size:25px;
	font-family: Courier,sans-serif;
	color: #34495E;
}
.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 128px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}

@media (max-width: 750px) {
  #contenedor{
    position: fixed;
    top: 1em;
    text-align: center;
	width: 540px;
	height: 115px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	left:50%;

}
.reloj{

	background: rgba(200,200,200,0.8);
	float: left;
	font-size:20px;
	font-family: Courier,sans-serif;

}